<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="Article">
	<resultMap type="Do.ArticleDo" id="ArticleResult">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="author" column="author" jdbcType="VARCHAR"/>
        <result property="gmtCreate" column="gmt_create" jdbcType="BIGINT"/>
        <result property="gmtChange" column="gmt_change" jdbcType="BIGINT"/>
        <result property="abstractWords" column="abstract_words" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
		<!-- <result property="sign" column="sign" jdbcType="BIGINT"/>-->
		<!-- <result property="tag" column="tag" jdbcType="BIGINT"/> -->
    </resultMap>
    
    <select id="getArticles" parameterType="HashMap" resultMap="ArticleResult">
        select * from article order by gmt_create desc
    </select>
    
    <select id="getArticle" parameterType="HashMap" resultMap="ArticleResult">
        select * from article where id = #{id};
    </select>
    
    <select id="totalCount" parameterType="HashMap" resultType="Integer">
        select count(*) from article
    </select>
    
    <insert id="addArticle"  parameterType="HashMap">
    	INSERT INTO ARTICLE (title,author,gmt_create,gmt_change,abstract_words, content) values (#{title}, #{author}, now(), now(), #{abstractWords}, #{content})
    </insert>
    
 
</mapper>
